<nav [@changBgColor]="isYellow ? 'Yellow' : 'Lime'" (@changBgColor.done)="toggle($event)" class="navbar navbar-light navbar-expand-lg">
	<a class="navbar-brand" href="/">Software Engineer Exercise</a>
	<button *ngIf="showLinks" class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
		(click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div *ngIf="showLinks" class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
		<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" routerLink="/dashboard">Dashboard</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/dashboard/directive">Directive​</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)='logout()'>Log out​</a>
			</li>
		</ul>
	</div>
</nav>